<h2>New Weight</h2>
<form>
  <p>Name:
      <br />
      {{input value=name}}
  </p>
    <p>Weight: <br />
    {{input value=weight}}
    </p>
    <p>
        <button {{action "createWeight"}}>Create Weight Entry</button>
    </p>
</form>