<h2>Weights</h2>
<ul id="weights">
    {{#each}}
     <li>
        {{name}} is {{weight}} on {{created_at}}
     </li>
    {{/each}}
    <br />
    <br />



    {{#link-to 'weights.new'}}New Weight{{/link-to}} &nbsp; {{#link-to 'searchusers'}}Query Users{{/link-to}}

    <div class="col-sm-9">
        {{outlet}}
    </div>
</ul>