/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap
 */
.navbar-default .navbar-nav > li {
    cursor: pointer;
    background-color: #824d3d;
    padding: 12px 12px;
    margin-top: -7px;
    color: #f0eee1;
    font-weight: bold;
}
.navbar-default .navbar-nav > li a {
    padding: 0;
    color: #f0eee1;
}
.navbar-default .navbar-nav > li:hover {
    background-color: #e87714;
}
.navbar-default .navbar-nav > li.active {
    color: #fff;
    background-color: #b65a31;
}

textarea {
    width: 100%;
    margin-bottom: 10px;
}

h2 {
    margin-top: 5px;
}